@font-face {
    font-family: 'liberation_sansbold';
    src: url('fonts/LiberationSans-Bold-webfont.eot');
    src: url('fonts/LiberationSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/LiberationSans-Bold-webfont.woff') format('woff'),
         url('fonts/LiberationSans-Bold-webfont.ttf') format('truetype'),
         url('fonts/LiberationSans-Bold-webfont.svg#liberation_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
